<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteUrl>localhost</SiteUrl>
  <Theme>default</Theme>
  <VTheme>common</VTheme>
  <DecimalLength>2</DecimalLength>
  <DefaultProductImage>/utility/pics/none.gif</DefaultProductImage>
  <DefaultProductThumbnail1>/utility/pics/none.gif</DefaultProductThumbnail1>
  <DefaultProductThumbnail2>/utility/pics/none.gif</DefaultProductThumbnail2>
  <DefaultProductThumbnail3>/utility/pics/none.gif</DefaultProductThumbnail3>
  <DefaultProductThumbnail4>/utility/pics/none.gif</DefaultProductThumbnail4>
  <DefaultProductThumbnail5>/utility/pics/none.gif</DefaultProductThumbnail5>
  <DefaultProductThumbnail6>/utility/pics/none.gif</DefaultProductThumbnail6>
  <DefaultProductThumbnail7>/utility/pics/none.gif</DefaultProductThumbnail7>
  <DefaultProductThumbnail8>/utility/pics/none.gif</DefaultProductThumbnail8>
  <CheckCode>617EC827ADA6FE7C7F6D98C6649B5AC0A1A506AB</CheckCode>
  <Disabled>false</Disabled>
  <Footer>
  </Footer>
  <RegisterAgreement>
  </RegisterAgreement>
  <LogoUrl>/utility/pics/logo.jpg</LogoUrl>
  <OrderShowDays>7</OrderShowDays>
  <CloseOrderDays>3</CloseOrderDays>
  <FinishOrderDays>7</FinishOrderDays>
  <TaxRate>0</TaxRate>
  <PointsRate>1.00</PointsRate>
  <SiteName>本地测试</SiteName>
  <YourPriceName>
  </YourPriceName>
  <EmailSender>
  </EmailSender>
  <EmailSettings>
  </EmailSettings>
  <SMSSender>
  </SMSSender>
  <SMSSettings>
  </SMSSettings>
  <EnabledCnzz>false</EnabledCnzz>
  <CnzzUsername>
  </CnzzUsername>
  <CnzzPassword>
  </CnzzPassword>
  <WeixinAppId>wx8b192916eb1dfd8d</WeixinAppId>
  <WeixinAppSecret>921ce9da0e0538663eb2ad29be038020</WeixinAppSecret>
  <WeixinPaySignKey>
  </WeixinPaySignKey>
  <WeixinPartnerID>112233</WeixinPartnerID>
  <WeixinPartnerKey>aabbcc</WeixinPartnerKey>
  <IsValidationService>false</IsValidationService>
  <WeixinToken>8B5AADD5A0AFD951</WeixinToken>
  <WeixinNumber>
  </WeixinNumber>
  <WeixinLoginUrl>
  </WeixinLoginUrl>
  <WeiXinCodeImageUrl>/Storage/master/WeiXinCodeImageUrl.jpg</WeiXinCodeImageUrl>
  <VipCardBG>/Storage/master/Vipcard/vipbg.png</VipCardBG>
  <VipCardLogo>YiHui</VipCardLogo>
  <VipCardQR>/Storage/master/Vipcard/vipqr.jpg</VipCardQR>
  <VipCardPrefix>1000001311</VipCardPrefix>
  <VipCardName>靳华斌</VipCardName>
  <VipRequireName>true</VipRequireName>
  <VipRequireMobile>true</VipRequireMobile>
  <VipRequireQQ>false</VipRequireQQ>
  <VipRequireAdress>false</VipRequireAdress>
  <VipEnableCoupon>false</VipEnableCoupon>
  <VipRemark>
  </VipRemark>
  <EnablePodRequest>true</EnablePodRequest>
  <EnableCommission>true</EnableCommission>
  <EnableProfit>true</EnableProfit>
  <EnableAlipayRequest>false</EnableAlipayRequest>
  <EnableWeiXinRequest>true</EnableWeiXinRequest>
  <EnableOffLineRequest>true</EnableOffLineRequest>
  <EnableWapShengPay>false</EnableWapShengPay>
  <OffLinePayContent>支付宝 test@aplipay.com 张三</OffLinePayContent>
  <DistributorDescription>&lt;p&gt;
	微信分销的功课：
&lt;/p&gt;
&lt;p&gt;
	1.研究兴趣取向：通过观察和研究他们发布的朋友圈，了解他们可能会被我们产品的那一方面打动，整合我们产品的特点，激发他们的兴趣。
&lt;/p&gt;
&lt;p&gt;
	2.推送信息:根据他们的兴趣特点来发布信息；字数不宜超过20字；要留悬念，让他们主动发问；图文并茂；
&lt;/p&gt;
&lt;p&gt;
	3.每天不要超过三条，更不要同时发送，选择的热度时间不同微信不一样，方法是观察朋友圈在哪段时间大家发微信比较勤奋，比他们的时间早5分钟左右发布。
&lt;/p&gt;
&lt;p&gt;
	&lt;span style="line-height:1.5;"&gt;4.因为一般人的习惯是先看后发。最初,要学会烘托气氛，当我们开始做朋友圈营销的时候，一定不能做的像一个新手一样，发图片，然后写一些介绍。&lt;/span&gt; 
&lt;/p&gt;
&lt;p&gt;
	微信分销的五要点
&lt;/p&gt;
&lt;p&gt;
	第一建立一个信任度；
&lt;/p&gt;
&lt;p&gt;
	第二呢第一时间让对方感兴趣；
&lt;/p&gt;
&lt;p&gt;
	第三点呢就是顾客的二次营销；
&lt;/p&gt;
&lt;p&gt;
	第四点呢互动；第五个呢老顾客的忠诚和信息的推广；
&lt;/p&gt;</DistributorDescription>
  <DistributorBackgroundPic>/Storage/data/DistributorBackgroundPic/default.jpg|</DistributorBackgroundPic>
  <DistributorLogoPic>/Storage/data/DistributorLogoPic/20151124101945_6072.jpg|</DistributorLogoPic>
  <SaleService>&lt;div class="keu-box"&gt;
	&lt;ul class="keu-list"&gt;
		&lt;li&gt;
			&lt;a href=""&gt;在线客服：佩佩&lt;em&gt;&lt;/em&gt;&lt;/a&gt; 
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=""&gt;在线客服：佩佩&lt;em&gt;&lt;/em&gt;&lt;/a&gt; 
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=""&gt;在线客服：佩佩&lt;em&gt;&lt;/em&gt;&lt;/a&gt; 
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</SaleService>
  <MentionNowMoney>1</MentionNowMoney>
  <ShopIntroduction>本地测试商城介绍!!!</ShopIntroduction>
  <ApplicationDescription>&lt;img title="20150114091939_5651" alt="20150114091939_5651" src="/Storage/master/gallery/201501/20150114091939_5651.jpg" border="0" /&gt;</ApplicationDescription>
  <GuidePageSet>http://www.baidu.com</GuidePageSet>
  <ManageOpenID>
  </ManageOpenID>
  <WeixinCertPath>
  </WeixinCertPath>
  <WeixinCertPassword>
  </WeixinCertPassword>
  <GoodsPic>
  </GoodsPic>
  <GoodsName>
  </GoodsName>
  <GoodsDescription>
  </GoodsDescription>
  <ShopHomePic>
  </ShopHomePic>
  <ShopHomeName>
  </ShopHomeName>
  <ShopHomeDescription>
  </ShopHomeDescription>
  <ShopSpreadingCodePic>/Storage/master/sharppic/images/2a024fbebb6d40f68fd9dffd32b7e189.jpg</ShopSpreadingCodePic>
  <ShopSpreadingCodeName>法第三方第三方</ShopSpreadingCodeName>
  <ShopSpreadingCodeDescription>答复答复答复是的发送到</ShopSpreadingCodeDescription>
  <OpenManyService>false</OpenManyService>
  <IsRequestDistributor>true</IsRequestDistributor>
  <FinishedOrderMoney>0</FinishedOrderMoney>
  <RegisterDistributorsPoints>0</RegisterDistributorsPoints>
  <OrdersPoints>0</OrdersPoints>
  <OpenStoreProductAuto>True</OpenStoreProductAuto>
  <OpenAgentProductRange>False</OpenAgentProductRange>
  <OpenProductReviews>True</OpenProductReviews>
  <OpenAgentProducRange>False</OpenAgentProducRange>
  <OpenProductReviews>True</OpenProductReviews>
  <AliOHAppId>
  </AliOHAppId>
  <EnableAliOHOffLinePay>false</EnableAliOHOffLinePay>
  <AliOHTheme>
  </AliOHTheme>
  <EnableAliOHAliPay>true</EnableAliOHAliPay>
  <EnableAliOHPodPay>false</EnableAliOHPodPay>
  <AliOHFollowRelay>
  </AliOHFollowRelay>
  <AliOHFollowRelayTitle>
  </AliOHFollowRelayTitle>
  <AliOHServerUrl>
  </AliOHServerUrl>
  <EnableAliOHShengPay>false</EnableAliOHShengPay>
  <EnableAliOHBankUnionPay>false</EnableAliOHBankUnionPay>
  <EnableQuickPay>True</EnableQuickPay>
  <OpenStoreInfoSet>False</OpenStoreInfoSet>
  <DistributorCutOff>default</DistributorCutOff>
  <EnableOrderRemind>true</EnableOrderRemind>
  <OrderRemindTime>1</OrderRemindTime>
  <BuyOrGive>true</BuyOrGive>
  <DistributorUpgradeType>byOrdersTotal</DistributorUpgradeType>
  <freeShippingAmount>80</freeShippingAmount>
  <SpecialOrderAmountType>addShipping</SpecialOrderAmountType>
  <SpecialValue1>15.00</SpecialValue1>
  <SpecialValue2>3.00</SpecialValue2>
  <isFlowWindowsOn>True</isFlowWindowsOn>
  <isCloseStore>True</isCloseStore>
  <orderAlert>超过2公里以外的商品配送时间可能有推迟,尽请谅解！</orderAlert>
  <minOrderPrice>200</minOrderPrice>
  <roadPriceInfo>1,2,100,10,268;3,5,128,16,268;6,8,198,24,398;9,11,268,32,458;12,14,328,40,698;15,17,368,48,888;18,20,428,56,999</roadPriceInfo>
  <orderCouponRent>10</orderCouponRent>
  <friendCouponId>88</friendCouponId>
  <BuyOrHalf>true</BuyOrHalf>
  <thirdWayDiscountInfo>82,武汉,55,1;0,总店,2,1;84,dddd,5,1;84,bb,2,1</thirdWayDiscountInfo>
</Settings>