@charset "utf-8";

*{ margin: 0; padding: 0;}
html{/*-webkit-text-size-adjust: 100%;*/ margin: 0; padding: 0; background-color: #F2F2F2; font-size: 62.5%;width: 100%; height: 100%;}
body{font-family:"Microsoft Yahei",helvetica,arial; color:#666;width: 100%; height: 100% !important; padding-bottom: 0; }
table{border-collapse: collapse;}
li{ list-style: none;}
input{ background: #FFF; border: 1px solid #D1D1D1; }
button{ background: #FFF; border: 0; }
a{ text-decoration: none; color: #555; -webkit-tap-highlight-color:transparent !important; -webkit-tap-highlight-color:none !important;-webkit-appearance:none !important;}
a:active{ background-color: none !important; background-color: transparent !important; -webkit-tap-highlight-color:none !important;}
.clearfix:after{ content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0; font-size:0;}
.clearfix{ zoom:1;}
.hide{ display: none;}
.h10{ height: 1rem;}
.h20{ height: 2rem;}
.brad5{background: #FFF; border-radius: .5rem;}
.img40{ width: 4rem; height: 4rem; border-radius: 4rem;}
.img50{ width: 5rem; height: 5rem; border-radius: 5rem;}
.img60{ width: 6rem; height: 6rem; border-radius: 6rem;}
.whitebg{ padding: 1rem 1rem;background: #FFF; border-bottom: 1px solid #EEE; font-size: 1.4rem; color: #555; margin-bottom: 1rem;}

.wrap{ width: 100%; min-height: 100% !important; max-width: 65rem; margin: 0 auto;  overflow:hidden; z-index:99; position:relative;  }
.wrap_bg{ z-index:98;  position:fixed; width:100%; height:100%; top:0; left:0; background-position: no-repeat; background-image: url(../images/test_bg.jpg); background-size: cover; background-attachment: fixed;}

.test_front{ padding: 14rem 2rem 3rem 2rem; color: #FFF;}
.test_front .imgbox{ text-align: center;}
.test_front img{ display: inline-block; border: 3px solid #FFF;}
.test_front h1{ font-size: 1.8rem; text-align: center; padding: 1rem 0;}
.test_front p{ font-size: 1.4rem; line-height: 2rem;}



.test_dati{ padding: 3rem 2rem; }
.bar_box{ position: relative; height: 2rem;}
.bar_box .bar{ position: absolute; top: .8rem; left: 0; width: 100%; height: .3rem; background: #FFF; z-index: 2; border-radius: .3rem;}
.bar_box ul{ z-index: 5; width: 100%; height: 1rem; position: absolute; top:0; left: 0;}
.bar_box li{ float: left; text-align: center; width: 10%;}
.bar_box li .num{ display: inline-block; background: #FFF; color: #888; width: 30%; height: 30%; border-radius: 3rem; width: 1.5rem; height: 1.5rem; line-height: 1.5rem; border: 1px solid #DDD; }
.bar_box li.tested .num{background: #F90; color: #FFF;  font-size: .8rem;}

.ttbox, .nrbox{ padding: 1rem; margin-top: 1rem;}
.ttbox h1, .nrbox h1{font-size: 1.4rem; color: #666; font-weight: normal;  padding:0; margin:0;}
.ttbox h1 input , .nrbox h1  input{ display:none !important;}
.ttbox img{ width: 100%; height: auto; margin-bottom: .6rem;}


input, button, textarea{ outline:none;}
.star_btn, .shezhi_btn, .news_btn{ display: block; width: 100%; height: 4rem; line-height: 4rem; text-align: center; color: #FFF; border-radius: .6rem; margin-top: 1rem; background: #F90; font-size: 1.6rem;}

.shezhi_btn, .news_btn{display: block; width: 48%; height: 4rem; line-height: 4rem; float: left; text-align: center; border-radius: .6rem; margin-top: 1rem; background: #F90; color: #FFF; font-size: 1.6rem; }

.btnbox{}
.shezhi_btn{margin-right: 2%; background: #FFF; color: #F90;}
.news_btn{ margin-left: 2%; position: relative;}
.news_btn i{ position: absolute; top: .6rem; width: 1.2rem; height: 1.2rem; line-height: 1.2rem; text-align: center; font-style: normal; background: #F00; color: #FFF;font-size: 1rem; border-radius: 1.2rem;}




.result_front{ padding: 3rem 2rem 2rem 2rem; color: #FFF;}
.result_front .imgbox{ text-align: center;}
.result_front img{ display: inline-block; border: 3px solid #FFF;}
.result_front h1{ font-size: 2.2rem; line-height: 3.2rem; text-align: center; padding: 1rem 0; text-shadow:0 1px 3px #000;}
.result_front p{ font-size: 1.4rem; line-height: 2rem; text-align: center; padding-bottom: 1rem; text-shadow:0 1px 3px #000;}

.result_front .jindubox{ text-align: center;}
.result_front .jindubox .quan{ display: inline-block; border: 3px solid #FFF;width: 7rem; height: 7rem; border-radius: 7rem; line-height: 7rem; font-size: 2.2rem;}

.result_box{ padding: 0 2rem;}
.re_ans{ padding: .5rem 1rem 1rem 1rem;  margin-bottom:2rem;}
.result_box table{ width: 100%; }
.result_box tr{ border-bottom: 1px solid #DDD ;  }
.result_box td{font-size: 1rem;  padding: .5rem 0; }
.result_box td:nth-child(1){ }
/*.result_box td:nth-child(1) img{width: 3rem; height: 3rem; border-radius: 3rem;}*/
.result_box td:nth-child(2){font-size: 1rem;}

.result_box td:nth-child(2) h2, .result_box td:nth-child(2) p{font-size: 1rem; white-space: nowrap;text-overflow: ellipsis; overflow: hidden; padding:0; margin:0; text-align:left;}
.result_box td:nth-child(2) p{ padding-top: .5rem;}
.result_box td:nth-child(3){font-size: 2rem; color: #F60; text-align: center;}

.advbox{ padding: 0 2rem 1rem 2rem;  }
.advbox a{ display:block; margin-bottom:.5rem; }
.advbox a img{ width:100%; height:auto; border-radius:.5rem; }


.wrong_bg{ background:#F14B4D; color:#FFF; }
.right_bg{ background:#86CE3E; color:#FFF; }

.fix-logo{ position: absolute;
    left: 50%;
    margin-left: 7rem;
    top: 6rem;
    z-index: 100;  }
.fix-logo img{ width:50px; height:50px; border-radius:50px; /*border:2px solid #FFF;*/ }

.banq-box{ text-align:center;padding:20px;color:#FFF; font-size:1.6rem; text-shadow:0 1px 3px #000; }