@charset "UTF-8";

/* ------------------------------------------
  RESET
--------------------------------------------- */

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul,li{
	list-style: none;
}

img{
	display: block;
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
a:active,
a:link,
a:hover {
	color:#454545;
  outline: 0;
  text-decoration: none;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

input::-webkit-input-placeholder { /* WebKit browsers */ 
color: #999; 
} 
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #999; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #999; 
} 
input::-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #999; 
} 
/* ------------------------------------------
  BASE DEMO STYLES
--------------------------------------------- */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #000;
  background: #f9f9f9;
  font: normal 12px/1.5 Helvetica,STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif;
}
input,a{
    font-family:Helvetica,STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif;
}
/* ------------------------------------------
  DRAW TYPE STYLES
--------------------------------------------- */
.draw{
	position: fixed;
	z-index: 12;
	top: 5%;
	left: 2%;
    background-color: #ededed;
}
.draw .draw_type{
	width: 150px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	background: #424954;
	color: #fff;
	border-radius: 5px 5px 0 0;
}
.draw ul{
	overflow: hidden;
	width: 150px;
    padding: 20px 0; 
}
.draw ul li{
	position: relative;
	float: left;
	margin: 8px 8px 8px 12px;
}
.draw ul li a{
	position: relative;
	display: block;
	color: #666;
	border: dashed 1px #9a9a9a;
	cursor: pointer;
	width: 52px;
	height: 46px;
	line-height: 46px;
    text-align: center;
    font-size:12px;
    color:#7a7a7a;
}
.draw ul .notice a,.draw ul .list a,.draw ul .space a,.draw ul .text-voting a,.draw ul .calendar a{
	line-height: 15px;
	padding-top: 8px;
}
.draw ul li a:hover{
	background: #ff9900;
	color: #fff;
	border: none;
}
.draw ul li a:hover:after{
	position: absolute;
	content: "+";
	color: #fff;
	width: 13px;
	height: 13px;
	line-height: 12px;
	background: #f00;
	font-size: 14px;
	font-weight: bolder;
	right: 0;
	bottom: 0;
}
.draw input{
    display:block;
	width: 125px;
	height: 36px;
	line-height: 36px;
	margin: 20px auto;
	outline: none;
    cursor: pointer;
}
.draw input.btn1{
	background: #428bca;
	color: #fff;
    margin:20px auto;
}
.draw input.btn3{
	background-color: #d9534f;
  color: #fff;
}
.draw input:hover{
	background: #424954;
}
/* ------------------------------------------
  DRAG IPHONE AREA STYLES &ATTR
--------------------------------------------- */
.phone{
	position: absolute;
	left: 5%;
	margin-left: 150px;
	top: 5%;
	background: #fff;
	width: 340px;
    padding-bottom: 20px;
    margin-bottom:50px;
	border-radius: 15px;
	border: 1px solid #CCC;
	/*box-shadow: 0 0 10px rgba(189, 189, 189, 1.0);
	-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 1.0);
	-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 1.0);*/
}
.phone-top{
  width: 325px;
  margin: 0 auto;
  position: relative;
  bottom: -5px;
  border-radius: 20px 20px 0 0;
}
.phone-bottom{
  width: 325px;
  margin: 0 auto;
}
.gridly {
	position: relative;
    border-top:0;
}
.small:before,.small:after{
	content: " ";
	display: table;
}
.small{
	position: relative;
	width: 100%;
    z-index:2
}
.pitch{
    display:none;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px #f90 dashed;
	z-index: 99;
}
.pitch p{
    position:absolute;
    right:0;
    top:0;
}
.pitch p a{
    display:inline-block;
    padding:2px 5px;
    margin: 0 1px;
    background: rgb(255, 153, 0);
    color:#fff;
    cursor:pointer;
}
.pitch p a:hover{
    background-color:#f00;
}
.delcon{
	width: 20px;
	height: 20px;
	background: url(../img/del.png) no-repeat center center;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 99;
}

.addAttr{
	display: none;
	position: absolute;
	left: 6%;
	margin-left: 500px;
	margin-bottom: 70px;
	padding: 10px;
	background-color: #F8F8F8;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    color:#7a7a7a;
}
.addAttr:before,.addAttr:after{
  position: absolute;
	font-family: simsun;
	content: "◆";
	top: 8px;
	display: block;
	width: 9px;
	height: 18px;
	font-size: 24px;
}
.addAttr:before{
	left: -11px;
	color: #F8F8F8;
	z-index: 11;
}
.addAttr:after{
	left: -13px;
	color: #8e8e8e;
	z-index: 10;
}
.addAttr table{
	width: 435px;
}
.addAttr table input{
    margin-right:3px;
}
.addAttr table label{
    margin-right:15px;
    cursor:pointer;
}
.addAttr img,.nav_li_attr img{
	width: 100%;
	height: auto;
}
.addAttr table tr td,.nav_li_attr tr td{
	padding: 5px 0;
}
.addAttr input[type=text]{
    padding: 6px;
    border: 1px solid #C1C1C1;
    margin-right:5px;
    color:#7a7a7a;
    border-radius:3px;
}
.nav_li_attr{
  position: relative;
  border: 1px solid #cecece;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
}
.nav_li_attr button{
    width: 70px;
    height: 28px;
    background-color: #575757;
    color: #FFF;
    border-radius: 3px;
    cursor:pointer;
    outline:none;
}
.nav_li_attr button:hover{
    background-color:#F55656;
}
.nav_li_attr tr td:first-child{
	text-align: right;
	padding-right: 10px;
}
.addAttr tr td:first-child,.nav_li_attr tr td:first-child{
	width: 100px;
    font-size:15px;
}
.changeBtn{
    float:right;
	width: 170px;
}
.changeBtn span{
	display: inline-block;
	padding: 5px 10px;
	margin-left: 5px;
	background: #575757;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
.changeBtn span:hover{
	background: #428BCA;
}
#hue-demo{
	border: none;
}
#demo-hue{
	border: none;
}

/*---------------店招模块样式---------------*/
.shop_banner_box{
	width: 100%;
	padding-bottom: 38px;
	background: #ffffff;
}
.shop_banner{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.shop_logo{
	width: 55px;
	height: 55px;
	border: 2px solid #fff;
	background: #fff;
	position: absolute;
	left: 15px;
	bottom: 10px;
}
.shop_name {
	position: absolute;
	left: 85px;
	bottom: 40px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	text-shadow:0 0 2px #000;
}  
.shop_desc {
	position: absolute;
	left: 85px;
	bottom: 15px;
	line-height: 24px;
	font-size: 14px;
	color: #ccc;
}
.nature{
	margin-bottom: 20px
}
.sliding{
	margin: 0 20px;
}
/*---------------导航模块样式---------------*/
.increase{
	cursor: pointer;
	background: #4F5E6D;
	text-align: center;
	width: 100%;
	padding: .36em 0;
	border-radius: 3px;
	color: #fff;
	margin: 1em auto;
}
.increase:hover{
	background: #CD6E00;
}
.dh ul{
	min-height: 30px;
	overflow: hidden;
}
.dh ul li{
	float: left;
}
.dh ul li a{
	display: block;
	text-align: center;
	overflow: hidden;
}
.dh ul li a img{
	display: block;
}
.dh ul li a span{
	display: block;
	color: #454545;
    padding:0;
    font-size: 16px;
}
.dh .dh_style2 li{
	width: 50%;
}
.dh .dh_style3 li{
	width: 33.33%;
}
.dh .dh_style4 li{
	width: 25%;
}
/*---------------文本模块样式---------------*/
.wb_txt{
	width: 100%;
	overflow: hidden;
    padding:5px 10px;
    font-size:16px;
    word-break:break-all;
    min-height:30px;
}
.wb_txt img{
    width:auto;
    height:auto;
    display:inline-block;
}
/*---------------公告模块样式---------------*/
#gongao{
	width:100%;
	overflow:hidden;
	font-size:13px;
	color:#454545;
}
#gongao #scroll_begin,
#gongao #scroll_end{
	display:inline
} 
.scroll_div{
	white-space: nowrap;
	overflow:hidden;
}
textarea{
	border: 1px solid #ccc;
}
/*---------------图片模块样式---------------*/
.tp ul{
  min-height: 28px;
  overflow: hidden;
}
.tp ul li{
	float: left;
	overflow: hidden;
}
.tp ul li a{
	position: relative;
	display: block;
}
.tp ul li a span{
	position: absolute;
	width: 100%;
	height: 2em;
	line-height: 2em;
	background: rgba(0,0,0,0.5);
	color: #fff;
	bottom: 0;
	left: 0;
	text-indent: .5em;
    font-size:15px;
}
.tp .tp_style1 li{
	width: 100%;
}
.tp .tp_style2 li{
	width: 50%;
}
.tp .tp_style3 li{
	width: 33.33%;
}
.tp .tp_style2,.tp .tp_style3{
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.tp .tp_style2 li,.tp .tp_style3 li{
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}
/*---------------幻灯片模块样式---------------*/
.slides{
	min-height: 50px;
	overflow: hidden;
}
.slidesjs-pagination{
	position: absolute;
	bottom: 5px;
	right: 0;
	z-index: 99;
}
.slidesjs-pagination li{
	float: left;
}
.slidesjs-pagination li a{
	display: block;
	padding: 0 3px;
	height: 5px;
	border-radius: 3px;
	overflow: hidden;
	margin: 0 3px;
	color: #fff;
	background: rgba(0,0,0,0.5);
}
.slidesjs-pagination li a.active{
	background: rgba(0,0,0,1);
}
/*---------------搜索模块样式---------------*/
.ss{
	position: relative;
}
.ss .search{
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	padding-left: .5em;
	border: 1px solid #c2c2c2;
	border-radius: 5px;
    text-indent: 0.5em;
}
.ss .searchBtn{
	position: absolute;
    top:9px;
	right: 10px;
	width: 36px;
	height: 36px;
	background: url(../img/search.png) no-repeat center center;
}
 /*---------------商品列表模块样式---------------*/ 
.sp {
    min-height:50px;
}
.splb ul,.sp ul{
 	overflow: hidden;
 }
.splb ul li,.sp ul li{
	float: left;
	padding: 5px;
    overflow:hidden;
}
.splb ul li a,.sp ul li a{
	width: 100%;
	display: block;
	padding: 5px;
	font-size: 1em;
	overflow: hidden;
	position: relative;
    background:#fff;
    box-shadow: 0 0 1px #B2B2B2;
    -moz-box-shadow: 0 0 1px #B2B2B2;
    -webkit-box-shadow: 0 0 1px #B2B2B2;
}
.splb ul li a p,.sp ul li a p{
	overflow: hidden;
	width: 100%;
	padding-left: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
    margin:5px 0;
    font-size:15px;
}
.splb ul li a p:last-child span:first-child,.sp ul li a p:last-child span:first-child{
	color: #D9690B;
	font-size: 1em;
}
.manner1 li,.manner4 li{
	width: 50%;
}
.manner2 li,.manner4 li:nth-child(3n+1){
	width: 100%;
}
.manner3 li{
	width: 100%;
}
.manner3 li a img{
	width: 25%;
	height: 25%;
	float: left;
}
.manner3 li a p{
	width: 70%;
	float: right;
	position: absolute;
	margin-left: 25%;
}
.manner3 li a p:last-child{
	bottom: 15px;
}
.manner3 li a p:nth-child(2){
	top: 15px;
}
.delsp{
    width:80px;
    height:80px;
    line-height:80px;
    display: inline-block;
    position:relative;
    margin:5px;
}
.delsp img{
    width:100%;
    height:100%;
}
.delsp span{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#fff;
    background: rgba(0,0,0,.5);
    text-align:center;
}
.delsp:hover span{
    display:block;
    cursor:pointer;
}
select{
	margin-left: 30px;
	padding: 5px 20px;
    border: 1px solid #ccc;
    color:#7a7a7a;
}
/*图片选择弹窗*/
.layoutImg{
    display:none;
    position: fixed;
    width:80%;
    height:550px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    padding:10px;
    z-index:9999999;
    background:#fff;
    border:1px solid #CCC;
    box-shadow:0 0 20px #9c9c9c;
    min-width:1000px;
}
.layoutImg iframe{
    width:100%;
    height:500px;
    margin:0 auto;    
}
.layoutImg a{
    display:inline-block;
    width:66px;
    height:36px;
    text-align:center;
    line-height:36px;
    background:#428bca;
    color:#fff;
    margin:0 10px;
    cursor:pointer;
    border-radius:5px
}
.layoutImg a.allSelect{
    float:right;
    width:20px;
    height:20px;
    line-height:20px;
    background:#F55656;
}
.layoutImg a:hover{
    background:#4e5d6f;
}
.kb {
    position:relative;
}
.search_div{
    padding:10px;
}

/*---------------文字模块样式---------------*/
.vote{
    padding:10px 15px 20px;
    color:#333;
}
.wz h3{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin:0;
    display:inline-block;
}
.wz .must{
    margin-left: 5px;
    color: #F15A5A;
    font-weight: bold;
}
.wz h4{
    margin:5px 0;
    font-size: 12px;
    color: #999;
    font-weight:normal;
}
.wz textarea,.wz input{
    width: 100%;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius:3px;
    padding:4px 6px;
}
.wz textarea{
    min-height: 5.5em;
    resize: none;
}
.wz input{
    height:30px;
    line-height:30px;
}
/*---------------日期控件模块样式---------------*/


/*---------------文本投票模块样式---------------*/
.line-bg:after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #8E8E8E;
    height: 1px;
    margin-top: -13px;
}
.line-bg span {
    background: #F8F8F8;
    padding: 0 5px;
}
.vote ul{
    width:100%;
    border: 1px solid #d9d9d9;
    border-radius:5px;
    background-color:#fff;
    overflow:hidden;
}
.vote ul li{
    height:36px;
    line-height:36px;
    border-bottom: 1px solid #d9d9d9;
    font-size:14px;
    background:url(../images/multiple-icons.png) no-repeat;
    background-size:16px;
}
.vote ul li label{
    display:block;
}
.vote ul li:last-child{
    border-bottom:none;
}
.vote ul li input{
    display:none
}
.vote ul li span{
    margin-left:50px;
}

.vote .subBut{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: #F14444;
    color: #fff;
    padding: 5px 0 5px 30px;
    letter-spacing: 30px;
    margin-bottom:20px;
}
.vote-result-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #C1C1C1;
}
.vote-result{
    margin: 10px;
    border-bottom: 1px dashed #C1C1C1;
    padding: 10px 50px 10px 10px;
}
.vote-result-con h3 ,.vote-result-con h4{
    font-weight: normal;
    margin: 0;
    text-align: center;
    margin-bottom:5px;
}
.vote-result-con h3 {
    font-size: 15px;
}
.vote-result-con h4{
    font-size:14px;
}
.vote-result-con{
    letter-spacing:2px;
}
.vote-result-con li{
    position:relative;
}
.vote-result-con li .progress{
    height: 15px;
    background-color: transparent;
    margin: 5px 10px 10px 0;
    width: 80%;
    position: relative;
    overflow: visible;
}
.vote-result-con li p{
    height:inherit;
    border-radius: 20px;
}
.vote-result-con span{
    position:absolute;
    top: 0;
    color: #A3A3A3;
    letter-spacing:0;
    margin-left:3px;
}