<hi:common_header runat="server" />
<link href="../style/V_style.css" rel="stylesheet" />
<style>
    body{
        padding:0;
        margin:0 auto;
    }
</style>
<script>
    $(function () {
        $(".gridly").css({"height": $(document).height() - 10,"overflow":"hidden"});
        $(".slides").slidesjs({
            width: 750,
            height: 400,
            //start: 3,
            navigation: { active: false, effect: "slide" },
            pagination: { active: true, effect: "fade" },
            effect: {
                slide: { speed: 1000 },
                fade: { speed: 1000, crossfade: true }
            },
            play: {
                active: false,
                effect: "slide",
                interval: 3000,
                auto: true,
                swap: false,
                pauseOnHover: true,
                restartDelay: 2000
            }
        });
        $(".gridly").children("div").each(function () {
            if ($(this).attr("name") == "VGunDong") {
                var t = $(this).attr("i");
                scr(t);
            }

        });
        
    });
    function scr(sn) {
        var speed = 50;
        var scroll_begin = $("#module" + sn + " #scroll_begin")[0]; //document.getElementById("scroll_begin");
        var scroll_end = $("#module" + sn + " #scroll_end")[0];//document.getElementById("scroll_end");
        var scroll_div = $("#module" + sn + " #scroll_div")[0]; //document.getElementById("scroll_div");
        scroll_end.innerHTML = scroll_begin.innerHTML;
        function Marquee() {
            if (scroll_end.offsetWidth - scroll_div.scrollLeft <= 0)
                scroll_div.scrollLeft -= scroll_begin.offsetWidth;
            else
                scroll_div.scrollLeft++;
        }
        var MyMar = setInterval(Marquee, speed);
        scroll_div.onmouseover = function () {
            clearInterval(MyMar);
        }
        scroll_div.onmouseout = function () {
            MyMar = setInterval(Marquee, speed);
        }
    }
</script>
<%<asp:panel id="panelHomePage" cssclass="gridly" runat="server"></asp:panel>%>

</body>
</html>
<script src="../script/slider.js"></script>
<script type="text/javascript" charset="utf-8">$("div.index-content img").lazyload();</script>


