<hi:Common_ClearHeader runat="server" />
<link href="/style/SelectStore.css" rel="stylesheet" />
<link href="/templates/vshop/common/src/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
<!--<script src="/script/SelectStore/SelectStore.Helper.js" type="text/javascript"></script>-->

<div id="main">
    <div class="search-pos">
        <div><i class="fa fa-search"></i><input type="text" name="name" id="txtSearch" value="" placeholder="搜索你所在的楼栋" /></div>
    </div>
    <div class="pos-lose"  id="locationDiv">
        <div class="location" style="background: #e0e0e0;"><div style="display:inline-block;width:33px;vertical-align: middle;margin-right:5px;"><img src="/images/jdfw.gif" width="100%" /></div><span role="lableReload">正在定位..</span></div>
        <div class="suggestion" id="notInRangeDiv" style="display:none">
            <p>Sorry，附近没有可供配送的写字楼</p>
            <a  href="javascript:void(0)" id="jumpToRequireStore">强烈要求<asp:literal runat="server" id="litStoreName"/>来此开店</a>
        </div>
    </div>
    <div id="streetsDiv" style="display:none">
        <ul class="building">
            <asp:literal runat="server" id="litBuildings"/>
        </ul>
    </div>
</div>

 <%<hi:weixinset id="weixin" runat="server"></hi:weixinset>%>

<input type="hidden" runat="server" clientidmode="Static"  id="hidAccess_token" />
<!--三作咖啡特殊跳转-->
<input type="hidden" runat="server" clientidmode="Static"  id="isSanZuo" />
<!--三作咖啡打烊设置-->
<input type="hidden" runat ="server" clientidmode="Static" id="isClose" />
<hi:Common_ClearFooter runat="server" />