<hi:common_header runat="server"/>
<div class="home-head distributor-head distributorCenter ">
    <div class="shop-photo">
        <a href="DistributorInfo.aspx"><hi:hiimage runat="server" id="imglogo" cssclass="img-circle" imageurl="/Utility/pics/headLogo.jpg" /></a>
        <span><asp:Image ID="imgGrade" runat="server" Width="20" Height="20"/></span>
    </div>

    <div class="shop-user-name">
        <a href="DistributorInfo.aspx"><asp:Literal ID="litStroeName" runat="server"></asp:Literal><span id="num_joinTime">加入时间：</span></a>
    </div>

	<div class="info">
       <div class="title"style="width: 200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-bottom: 2px;"></div>
        <div class="presentExp font-s">
            
        </div>
    </div> 
    <div class="tixian-box">
        <p><span>可提现金额（元）</span><a class="tixian-mx" href="CommissionDetails.aspx">查看明细</a></p>
        <p class="tixian-mney">
            <em><Hi:FormatedMoneyLabel ID="lblsurpluscommission" runat="server" NullToDisplay="0.00"></Hi:FormatedMoneyLabel></em>
            <a class="tixian-btn"   href="RequestCommissions.aspx" >提现</a></p>            
    </div>
    <ul class="order-money">
        <li>
            <a href="javascript:;">订单总额<i>￥<Hi:FormatedMoneyLabel ID="saletotal" runat="server" NullToDisplay="0.00"></Hi:FormatedMoneyLabel></i></a>
        </li>
        <li class="yellow">
            <a href="javascript:;">今日佣金<i>￥<Hi:FormatedMoneyLabel ID="refrraltotal" runat="server"  NullToDisplay="0.00"></Hi:FormatedMoneyLabel></i></a>
        </li>
        <li class="blue">
            <a href="javascript:;">今日订单<i><asp:Literal ID="litTodayOrdersNum" runat="server" Text="0"></asp:Literal></i></a>
        </li>
    </ul>
</div>
<!--隐藏域,存放页面数字信息-->
<input type="hidden" runat="server" id="val_isAgent"><!--当前用户是不是分销商-->
<input type="hidden" runat="server" id="val_joinTime" /><!--加入时间-->
<input type="hidden" runat="server" id="val_MyCommission" /><!--我的佣金金额-->
<input type="hidden" runat="server" id="val_MyChirldrenDistributors" /><!--我的下属数量-->
<input type="hidden" runat="server" id="val_MyDistributorOrders" /><!--店铺订单数量-->
<input type="hidden" runat="server" id="val_MyProducts" /><!--店铺商品-->
<input type="hidden" runat="server" id="val_MyVisitCount" /><!--粉丝数量-->
<input type="hidden" runat="server" id="val_MyUnderOrder" /><!--下属店铺订单数量-->
<!--数字信息隐藏域end-->

<!--隐藏域,存放文字信息(对不同用户展示不同的定义信息)-->
<input type="hidden" runat="server" id="name_MyCommission"><!--我的佣金-->
<input type="hidden" runat="server" id="name_MyChirldrenDistributors" /><!--我的下属-->
<input type="hidden" id="specialHideShow" runat="server" clientidmode="Static" />
<!--文字信息隐藏域end-->

<ul class="order-img-tags">
    <li id="MyCommission"><a class="shop-brokerage" href="DistributorCommission.aspx">
        <div id="txt_MyCommission"> 我的佣金</div>
        <span><i id="num_MyCommission">0.00</i>元</span></a>
    </li><!--我的佣金-->
    <li id="MyChirldrenDistributors"><a href="ChirldrenDistributors.aspx" class="shop-underling">
        <div id="txt_MyChirldrenDistributors">我的下属</div>
        <span><i id="num_MyChirldrenDistributors">0</i>个伙伴</span></a>
    </li>
    <li id="MyDistributorOrders"><a class="shop-order" href="DistributorOrders.aspx">
        <div id="txt_MyDistributorOrders">店铺订单</div>
        <span><i id="num_MyDistributorOrders">0</i>个订单</span></a>
    </li>
    <li id="MyProducts"><a class="shop-info" href="MyProducts.aspx">
        <div id="txt_MyProducts">店铺商品</div>
        <span><!--<i id="num_MyProducts">0</i>-->我上架的商品</span></a>
    </li>
    <li id="MyQRcode"><a href="QRcode.aspx" class="shop-qr">
        <div id="txt_MyQRcode">店铺推广码</div>
        <span>推广二维码</span></a>
    </li>
    <li id="MyCircle"><a class="shop-friend" href="FriendsCircle.aspx">
        <div id="txt_MyCircle">朋友圈素材</div>
        <span>推广素材</span></a>
    </li>
    <li id="MyNameCard"><a class="shop-card" href="NameCard.aspx">
        <div id="txt_MyNameCard">掌柜名片</div>
        <span>掌柜信息</span></a>
    </li>
    <li id="MyVisitCount"><a class="shop-visit" href="Statistics.aspx">
        <div id="txt_MyVisitCount">统计信息</div>
        <span><i id="num_MyVisitCount">0</i>次点击</span></a>
    </li>
    <li id="MyUnderOrder"><a class="shop-underorder" href="UnderOrders.aspx">
        <div id="txt_MyUnderOrder">下属订单</div>
        <span><i id="num_MyUnderOrder">0</i>个订单</span></a>
    </li>
    <li id="MyRanking">
        <a class="shop-top" href="MyRanking.aspx">
            <div id="div1MyRanking">店铺排名</div>
            <span>分销统计</span>
        </a>
    </li>
    <li id="More"><a class="shop-no">更多</a></li>

</ul>
<script>
    //禁用右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
    //取得lblsurpluscommission控件的值
    $(document).ready(function () {
        $("#vDistributorCenter_lblsurpluscommission").click(function () {
            if($("#vDistributorCenter_lblsurpluscommission").html());
        });
    });
    //控件值大于0就显示其他样式
    if (parseInt($("#vDistributorCenter_lblsurpluscommission").html()) > 0) {
        $(".tixian-btn").removeClass().addClass("withdraw-btn");
    }
    $(function(){
        $(".distributorCenter .shop-photo").css({ "left": ($(".distributorCenter").width() - $(".distributorCenter .shop-photo").width()) / 2 + "px" });
        bindData();
    });
    //数字信息的绑定
    function bindData() {
        //从隐藏域取值
        var underOrder = $("#vDistributorCenter_val_MyUnderOrder").val();
        var commission = $("#vDistributorCenter_val_MyCommission").val();
        var chirldrenDistributors = $("#vDistributorCenter_val_MyChirldrenDistributors").val();
        var distributorOrders = $("#vDistributorCenter_val_MyDistributorOrders").val();
        var visitCount = $("#vDistributorCenter_val_MyVisitCount").val();
        var isAgent = $("#vDistributorCenter_val_isAgent").val() == 1;
        var joinTime = $("#vDistributorCenter_val_joinTime").val();
        //填值
        $("#num_MyCommission").html(commission);
        $("#num_MyChirldrenDistributors").html(chirldrenDistributors);
        $("#num_MyDistributorOrders").html(distributorOrders);
        $("#num_MyVisitCount").html(visitCount);
        $("#num_MyUnderOrder").html(underOrder);
        $("#num_joinTime").html("加入时间："+joinTime);
        //如果不是代理商,隐藏下属店铺订单按钮
        if (!isAgent) {
            $("#MyUnderOrder").hide();
        }
        //如果按钮数量是三的倍数,隐藏[更多]
        $(function () {
            if ($(".order-img-tags").children("li:visible").length % 3 == 1) {
                $("#More").hide();
            }
            
            else if ($(".order-img-tags").children("li:visible").length % 3 == 2) {
                $("#More").closest("ul").append("<li><a class='shop-no'>更多</a></li>");
            }
        });
        //针对不同的用户进行不同的功能区域隐藏显示
        var customName = "";
        if ($("#specialHideShow").val()) {
            customName = $("#specialHideShow").val();
            switch (customName) {
                case "sswk"://爽爽挝啡
                    $(".tixian-box").hide();
                    $(".distributor-head").addClass("distributor-head2");
                    $("#MyCommission").hide();
                    $("#MyChirldrenDistributors").hide();
                    break;
            }
        }
    }
</script>
<Hi:Common_Footer runat="server" />
