<hi:common_header runat="server" />
<link rel="stylesheet" href="../style/pcOrder.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="../style/classify.css" rev="stylesheet" type="text/css">
<div class="container-m">
    <!--<div class="header-top"></div>-->
    <div class="classify orders-list-classify clear" id="classify">
      <div class="top-nav box">
          <ul id="flipBtn">
              <li class="prev"><img src="/images/prevj.png" /></li>
              <li class="next"><img src="/images/nextj.png" /></li>
          </ul>
        <div class="categoriArea"><ul id="categoriArea">
          <hi:vshoptemplatedrepeater id="rptCategories" templatefile="/Tags/skin-Common_PCNewCategoriesBuy.ascx"   runat="server" />
        </ul></div>
      </div>
      <div class="pro-list box">
          <ul class="orders-rlistbox-ul">
            <!--<li><a href=""> <img src="../images/pic.jpg"><span>时尚秋裤</span></a></li>-->
            <hi:vshoptemplatedrepeater id="rptProducts" templatefile="/Tags/skin-Common_PCNewProdctsShow.ascx" runat="server" />
          </ul>
          <div id="pager"></div>
          <ul class="addan">
              <li><a class="account-all" id="enterCouponCode" onclick="showCoupon()">优惠券</a></li>
              <li><%<asp:literal runat="server" id="litBuyToGive"/>%></li>
              <li><%<asp:literal runat="server" id="litHalf"/>%></li>
              <li><a class="account-all" id="btnClear" onclick="Clear()">清除</a></li>
              <li><a class="account-all" id="btnMicroPay" onclick="OpenMicroPay()">微信支付</a></li>
              <li><a class="account-all" id="btnDiscount" >优惠</a></li>
          </ul>
        </div>
      </div>

    <div class="left-nav">
        <span class="hwbg-rt"></span>
        <div class="left-nav-border">
            <div class="top"><a href="javascript:window.close()"><img src="/images/sswlogo.png" /></a><p style="line-height: 1;"><asp:literal id="litStoreName" runat="server"></asp:literal></p></div>
            <!--order列表 -->
            <div id="orderList">
                <div class="orderList-tit"><span>菜品</span><span>数量</span></div>
                <ul>
                    <asp:literal runat="server" id="litOrderList"/>
                </ul>
            </div>
            <div class="account">
                <a class="account-all" href="#"><span>总计</span><span id="priceTotal"></span></a>
                <a class="btn-buy" id="btnSubmmit" href="javascript:void(0)"><img src="/images/js.png" /></a>
            </div>
        </div>
        <span class="hwbg-lb"></span>
    </div
</div>
<!--优惠券输入框-->
<div class="coupon" id="divActivity">
    <!--<p class="title">优惠券<span>X</span></p>-->
    <div>
        <input id="txtCouponCode" type="text" class="ui-keyboard-input ui-widget-content ui-corner-all" aria-haspopup="true" role="textbox">
        <a class="sure" id="accept" style="display:none">使用</a>
    </div>
</div>
<!--优惠输入框-->
<div class="coupon" id="divDiscount">
    <div>
        <input id="txtDiscount" type="text" class="ui-keyboard-input ui-widget-content ui-corner-all" aria-haspopup="true" role="textbox">
    </div>
</div>
<!--现金输入框-->
<div class="coupon" id="divCash">
    <div>
        <span>请输入现金</span>
        <input id="txtCashInput" type="text" class="ui-keyboard-input ui-widget-content ui-corner-all" aria-haspopup="true" role="textbox">
    </div>
</div>
<!--规格选择框-->
<div id="skuSelectorDiv" productId="0"></div> <div id="bg"></div>
<!--刷卡支付弹出扫码框-->
<div id="MicroPay" style="display:none">
    <p>请扫码</p>
    <input type="text" id="txtPayCode" onBlur="this.focus()"/>
    <input type="hidden" id="hidOrderId" />
</div>
<div id="MicroPayDiv" style="display:none"></div><!--刷卡支付的返回html-->
<div id="printDiv" style="display:none"></div>
<input type="hidden" runat="server"   id="litCategoryId" />
<input type="hidden" runat="server"   id="txtTotal" />

<script type="text/javascript" src="../script/jquery1.42.min.js"></script>
<script src="../script/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../script/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript">jQuery("#classify").slide();</script>
<script type="text/javascript" src="../script/jQuery.equalHeights.js"></script>
<!-- 打印机控件引用-->
<script language="javascript" src="../script/LodopFuncs.js?v=1.1"></script>
<object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
       <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
</object>
<!--虚拟小键盘控件引用-->
<!-- jQuery & jQuery UI + theme (required) -->
<link href="../style/jquery-ui.css" rel="stylesheet">
<script src="../script/jquery-ui.min.js"></script>
<link href="../style/keyboard.css" rel="stylesheet">
<script src="../script/jquery.keyboard.min.js"></script>


<!--分页-->
<script src="/Utility/common.js" type="text/javascript"></script>
<script src="/Utility/pager.js" type="text/javascript"></script>
<script src="../script/PCorder.Helper.js?v=7"></script>
<script type="text/javascript">
    vshopPager('pager', $('#PCProductSearchBuy_txtTotal').val(), 1, 16);
    $("#pager").show();
</script>
<!-- 分页-->
<script type="text/javascript">
    $(function () { $('#classify').equalHeights(); });
</script>

 

<script type="text/javascript">
    function goUrl(url) {
        location.replace(url);
    }

//wj----------------------------------------------------wj//
    $(function () {
        var string = window.location.href;//获取url地址
        var index = string.indexOf("=");//indexOf()返回字符串指定出现的位置
        var str = string.substring(index + 1, string.length);//substring()方法用于提取字符串中介于两个指定下标之间的字符。
        var num = str.replace(/[^0-9]/ig, ""); //从字符串中取数字

        var len = $("#categoriArea li").length;
        var v_width = $("#categoriArea li").width();
        var end_pos = -(v_width * (len - 3)) + 'px';

        $("#categoriArea").width(len * 120);

        //当前页：定位+样式
        $("#categoriArea li").each(function () {
            $(this).addClass("a " + $(this).index());
            var arr = $(".a");

            var $id = $(this).attr("id");

            if ($id == num) {
                $(this).css("background-color", "#6c5239");

                var b = $(this).index();
                var c = arr.index($("." + b));

                if (b == 0) {
                    $("#categoriArea").css("left", "0px");
                } else if (b == (len - 1)) {
                    $("#categoriArea").css("left", -(v_width * (b - 2)));
                } else {
                    $("#categoriArea").css("left", -(v_width * (b - 1)));
                }
            }
        })
        //翻页
        $("#flipBtn li").click(function () {
            var $left = $("#categoriArea").css("left");

            if ($(this).attr("class") == "next") {
                if (!$("#categoriArea").is(":animated")) {
                    if ($left == end_pos) {
                        $("#categoriArea").animate({ left: "0px" }, "slow");
                    } else {
                        $("#categoriArea").animate({ left: '-=' + v_width + 'px' }, "slow");
                    }
                }
            }
            if ($(this).attr("class") == "prev") {
                if (!$("#categoriArea").is(":animated")) {
                    if ($left == '0px') {
                        $("#categoriArea").animate({ left: end_pos }, "slow");
                    } else {
                        $("#categoriArea").animate({ left: '+=' + v_width + 'px' }, "slow");
                    }
                }
            }
        });
//wj----------------------------------------------------wj//

        var categoryItems = $('a.categoryItem');
        var cateogryId, url;
        $.each(categoryItems, function (i, item) {
            cateogryId = $(item).attr('value');
            if ($(item).attr('name') == "True")
                url = '?categoryId=' + cateogryId;
            else
                url = '/Vshop/ProductList.aspx?categoryId=' + cateogryId;
            $(item).attr('onclick', 'goUrl("' + url + '")').attr('href', 'javascript:;');

        });

        $(".pbox-select-tags li .select-tags-img").height($(".pbox-select-tags li .select-tags-img").width());

    });
</script>

