<hi:common_header runat="server" />


<div class="tui-box">
    <div class="tui-self">
    
    <a class="imgbox" href="/Vshop/UserInfo.aspx?edit=true"><asp:image runat="server" id="image"></asp:image></a>

    <a class="tt" href=""><asp:literal id="litstorename" runat="server"></asp:literal></a>
    </div>
    <div class="ewm-box">
        <!--<img class="ewm" src="/images/pic.jpg" />-->
        <asp:Image class="ewm" ID="litimgorcode" runat="server" width="200" height="200" />
    </div>
</div>


<span id="imageurl" style="display:none"><asp:literal id="litimage" runat="server"></asp:literal></span>

<script>

</script>

<hi:common_footer runat="server" />
