<!--<Hi:Common_Header runat="server" />

<br />
商品名称:<br />
团购介绍:<br />
团购价:￥<br />
已售数量:<br />
最小成团数:<br />
<br />
规格:<br />
扩展属性:<br />
短介绍:<br />
完整介绍:<br />
团购编号：<br />

<asp:literal runat="server" id="content" />

-->
<hi:common_header runat="server" />
<div id="slides">
     <hi:vshoptemplatedrepeater id="rptProductImages" templatefile="/Tags/skin-Common_Slide.ascx"
        runat="server" />
</div>
<div class="pbox bgColor-white">
    <div class="goods-info">
        <div class="name font-xl">
            <asp:literal runat="server" id="litProdcutName" />
        </div>
        <div class="intro text-muted">
            <asp:literal runat="server" id="litShortDescription" />
        </div>
        <div class="price text-danger font-l">

            当前价格：¥<asp:literal runat="server" id="litCurrentPrice" />
            &nbsp;&nbsp;&nbsp; <del class="text-muted font-s"> 起始价格：¥<asp:literal runat="server" id="litSalePrice" /></del> 
            <div><asp:Literal ID="litActivities" runat="server" /></div>
            <span class="text-muted font-s info"></span>
        </div>

    </div>
</div>
<div class="specification-box">
    <div class="specification">
        <hi:common_skuselector id="skuSelector" runat="server" />
    </div>
    <div class="buy-num">
        <div class="text-muted">
            购买数量
        </div>
        <div class="goods-num clearfix">
                        <div id="spSub" class="shopcart-add">
                <span class="glyphicon glyphicon-minus-sign"></span>
            </div>
            <input type="tel" id="buyNum" class="form-control" value="1" />
            <div id="spAdd" class="shopcart-minus">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </div>
            <div class="info font-s text-muted">
                （剩余可购买数量：<span id="spStock"><asp:literal runat="server" id="litStock" /></span>件）
            </div>
        </div>
    </div>
    
</div>
<div class="goods-detail pbox bgColor-white btns-fixed-padding">
    <div class="panel panel-default" id="gbContentContainer">
        <div class="panel-heading">
            <h3 class="panel-title">砍价商品说明</h3>
        </div>
        <div class="panel-body" id="gbContent">
            <asp:literal runat="server" id="litGroupbuyDescription" />
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            属性
        </div>
        <table class="table" id="attrtable">
            <tbody>
                <hi:common_expandattributes id="ExpandAttributes" runat="server" />
            </tbody>
        </table>
    </div>
    <div class="list-group">
        <a href="javascript:;" class="list-group-item" onclick="javascript:location.href='ProductConsultations.aspx?ProductId='+$('#txtProductId').val();">
            商品咨询 <span class="badge-h"><asp:literal runat="server" id="litConsultationsCount" /></span>
        </a><a href="javascript:;" class="list-group-item"
               onclick="javascript:location.href='ProductReview.aspx?ProductId='+$('#txtProductId').val();">
            商品评价 <span class="badge-h"><asp:literal runat="server" id="litReviewsCount" /></span>
        </a>
    </div>
    <asp:literal runat="server" id="litDescription" />
</div>
<div class="btns-fixed">
    <a class="link link-shop" href="Default.aspx"><i></i><span>店铺</span></a>
    <button id="buyButton" class="btn-buy" style="width:80%;">立刻购买</button>
</div>
<input type="text" style="display: none;" runat="server" id="txtProductId" clientidmode="Static" />
<input type="hidden" runat="server" clientidmode="Static" id="litCutDownId" />
<input type="hidden" value="2014/04/23 9:27:46" id="startTime" runat="server" clientidmode="Static">
<input type="hidden" value="2014/04/23 9:28:56" id="endTime" runat="server" clientidmode="Static">
<input type="hidden" runat="server" clientidmode="Static" id="litHasCollected" />
<input type="hidden" runat="server"   id="litCategoryId" />
<input type="hidden" runat="server"   id="litproductid" />
<input type="hidden" id="nowTime" runat="server" clientidmode="Static">

<span id="ItemParams" style="display:none">
    <asp:literal id="litItemParams"
                 runat="server"></asp:literal>
</span>


<script src="/script/carousel.js"></script>

<script src="/utility/vcutdownbuy.helper.js" type="application/javascript"> </script>
<script type="text/javascript">
    $(function () {
        var slidesImg = $('#slides img');
        var width = 650, height = 650;
        if (slidesImg.length > 1) {
            $('#slides').slidesjs({
                width: width,
                height: height,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
            $(".slidesjs-play, .slidesjs-stop, .slidesjs-previous, .slidesjs-next").remove();
        }
        else {

            $('#slides').css('display', 'block').html('<div style="width:100%;"><a href="javascript:;"></a></div>');
            $('#slides div a').append(slidesImg);
        }
    });





    $(".slidesjs-play, .slidesjs-stop, .slidesjs-previous, .slidesjs-next").remove();
    setInterval(GetRTime, 1000);
    if ($("#attrtable tr").length <= 0) {
        $("#attrtable").parent().hide();
    }
</script>
